<nav>
    <mat-toolbar>
        <mat-toolbar-row class="container primary-row">
            <span style="padding-left: 16px;">LE CERCLE DES DEVS DISPARUS</span>
            <div class="spacer"></div>
            <mat-form-field floatLabel="never" [style.width.px]=270>
                <input type="text" matInput placeholder="Rechercher">
            </mat-form-field>
        </mat-toolbar-row>

        <mat-toolbar-row class="container secondary-row">
            <mat-nav-list class="list-horizontal">
                <mat-list-item> LIVRES </mat-list-item>
                <mat-list-item> FILMS </mat-list-item>
                <mat-list-item> SÉRIES </mat-list-item>
                <mat-list-item> JEUX </mat-list-item>
                <mat-list-item> MUSIQUE </mat-list-item>
            </mat-nav-list>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>