.container-title {
  .mat-card {
    background-color: #e9eaef;
    border-bottom: 2px solid rgba(30, 30, 71, 0.2);
    border-radius: 0px;
    box-shadow: none !important;
    color: #1e1e47;
    padding-left: 0px;
    width: 100%;
  }
}
