<app-text-title title="LES SELECTIONS DU MOIS"></app-text-title>


<app-carousel-selection></app-carousel-selection>

<app-text-title title="LES DERNIERES CRITIQUES"></app-text-title>

<div class="row">
  <carousel [cellWidth]="'100%'" [arrowsOutside]="true" [dots]="true" [objectFit]="'cover'" [autoplay]="false" [loop]="false">
    <div class="carousel-cell row" *ngFor="let review of reviews">
      <mat-card>
        <mat-card-title>{{review.author}} - {{review.note}}/5</mat-card-title>
        <mat-card-subtitle *ngIf="review.movie">{{review.movie.title}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="review.book">{{review.book.title}}</mat-card-subtitle>
        <mat-card-content>
          <p>{{review.description}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </carousel>
</div>
